<h1>Listing fares</h1>

<table>
  <tr>
    <th>Driver</th>
    <th>Car</th>
    <th>State</th>
    <th>Scheduled</th>
    <th>Started</th>
    <th>Finished</th>
    <th>Meeting point place name</th>
    <th>Drop off point place name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fares.each do |fare| %>
  <tr>
    <td><%= fare.driver != nil ? fare.driver.full_name : '' %></td>
    <td><%= fare.car %></td>
    <td><%= fare.state %></td>
    <td><%= fare.scheduled %></td>
    <td><%= fare.started %></td>
    <td><%= fare.finished %></td>
    <td><%= fare.meeting_point_place_name %></td>
    <td><%= fare.drop_off_point_place_name %></td>
    <td><%= link_to 'Show', fare %></td>
    <td><%= link_to 'Edit', edit_fare_path(fare) %></td>
    <td><%= link_to 'Destroy', fare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ride', new_fare_path %>
