<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stripe_customer_id %><br />
    <%= f.number_field :stripe_customer_id %>
  </div>
  <div class="field">
    <%= f.label :stripe_recipient_id %><br />
    <%= f.number_field :stripe_recipient_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :is_driver %><br />
    <%= f.check_box :is_driver %>
  </div>
  <div class="field">
    <%= f.label :is_rider %><br />
    <%= f.check_box :is_rider %>
  </div>
	<!--
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
	-->
  <div class="field">
    <%= f.label :commuter_balance_cents %><br />
    <%= f.number_field :commuter_balance_cents %>
  </div>
  <div class="field">
    <%= f.label :commuter_refill_amount_cents %><br />
    <%= f.number_field :commuter_refill_amount_cents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
