<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Rider State" %><br />
    <%= f.select :rider_state, ['activate','no state'] %>
  </div>
  <div class="field">
    <%= f.label "Interest in being a driver" %><br />
    <%= f.select :driver_state, %w[uninterested interested] %>
  </div>

  <h2>Commuter Card</h2>
  <h4>the following fields submit to database:</h4>
  <div class="field">
    <%= f.label :commuter_balance_cents %>
    <%= f.number_field :commuter_balance_cents %>
  </div>
  <div class="field">
    <%= f.label :commuter_refill_amount_cents %>
    <%= f.number_field :commuter_refill_amount_cents %>
  </div>
  <h4>the following fields do not submit to database:</h4>
  <div class="field">
    <%= label_tag "Credit Card Number" %>
    <%= text_field_tag "credit_card" %>
  </div>
  <div class="field">
    <%= label_tag "Expiration Date" %>
    <%= select_month Time.now %>
    <%= select_year Time.now %>
  </div>
  <div class="field">
    <%= label_tag "CVC_code" %>
    <%= text_field_tag "cvc_code" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
