<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @user.company_id %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Driver State:</b>
	<%= @user.driver_role.nil? ? "not configured" : @user.driver_role.state %>
</p>

<p>
  <b>Rider State:</b>
	<%= @user.rider_role.nil? ? "not configured" : @user.rider_role.state %>
</p>

<p>
  <b>Commuter balance cents:</b>
  <%= @user.commuter_balance_cents %>
</p>

<p>
  <b>Commuter refill amount cents:</b>
  <%= @user.commuter_refill_amount_cents %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
