<%= form_for(@car_location) do |f| %>
  <% if @car_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_location.errors.count, "error") %> prohibited this car_location from being saved:</h2>

      <ul>
      <% @car_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :last_known_location %><br />
    <%= f.text_field :last_known_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
