<h1>Listing car_locations</h1>

<table>
  <tr>
    <th>Car</th>
    <th>Last known location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @car_locations.each do |car_location| %>
  <tr>
    <td><%= car_location.car %></td>
    <td><%= car_location.last_known_location %></td>
    <td><%= link_to 'Show', car_location %></td>
    <td><%= link_to 'Edit', edit_car_location_path(car_location) %></td>
    <td><%= link_to 'Destroy', car_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car location', new_car_location_path %>
