<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @car_location.references %>
</p>

<p>
  <b>Last known location:</b>
  <%= @car_location.last_known_location %>
</p>


<%= link_to 'Edit', edit_car_location_path(@car_location) %> |
<%= link_to 'Back', car_locations_path %>
