<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<script>

	$( document ).ready(function() {
	var map = L.map('map')
	var markers = {};
	var startIcon = L.icon({
		iconUrl: 'images/start_icon.png'
	});
	var finishIcon = L.icon({
		iconUrl: 'images/finish_icon.png'
	});

	map.setView([37.7577, -122.4376], 12)
	L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
		attribution: 'attribution statement',
		maxZoom: 18
	}).addTo(map)

	var layerLookup = {}

	$('.request_check_box').change(function() {
		if($(this).is(":checked")) {
			//var returnVal = confirm("Are you sure?");
			//$(this).attr("checked", returnVal);
			//alert($(this).data('origin'));
			var origin = $(this).data('origin');
			var destination = $(this).data('destination');
			var customLayer = L.geoJson(null, {
				pointToLayer: function(feature, latlng){
					return L.marker(latlng, { icon: startIcon });
				}
			});
			var originMarker = omnivore.wkt.parse(origin, null, customLayer);

			var destinationLayer = L.geoJson(null, {
				pointToLayer: function(feature, latlng){
					return L.marker(latlng, { icon: finishIcon });
				}
			});
			var	destinationMarker = omnivore.wkt.parse(destination, null, destinationLayer);
			var route = L.layerGroup([originMarker, destinationMarker])
			route.addTo(map)
			layerLookup[$(this).attr('id')] = route;
		} else {
			var layer = layerLookup[$(this).attr('id')];
			map.removeLayer(layer);
		}
	});

});

</script>

<h1>Commuter Ride Requests</h1>
<div id="map" style="height: 500px;" >
</div>

<%= form_tag("/commuter_ride_requests/assemble_ride", method: "post" ) do %>
<table>
  <tr>
		<th></th>
    <th>User</th>
    <th>State</th>
    <th>Type</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Requested Arrival Time</th>
		<th>Assigned Ride</th>
    <th></th>
    <th></th>
  </tr>

<% @ride_requests.each do |ride_request| %>
  <tr>
		<td>
			<% if( ride_request.state == 'requested') %>
				<%= check_box_tag "selected[]", ride_request.id, false, class: 'request_check_box', :id => 'request' + ride_request.id.to_s, :"data-origin" => ride_request.origin, :"data-destination" => ride_request.destination %></td>
		<% end %>
    <td><%= ride_request.user.full_name %></td>
    <td><%= ride_request.state %></td>
    <td><%= ride_request.request_type %></td>
    <td><%= ride_request.origin_place_name %></td>
    <td><%= ride_request.destination_place_name %></td>
    <td><%= ride_request.desired_arrival %></td>
		<td><%= ride_request.fare.nil? ? '' : ( link_to ride_request.ride.driver.full_name, ride_request.ride ) %></td>
    <td><%= link_to 'Show', ride_request %></td>
    <td><%= link_to 'Edit', edit_ride_request_path(ride_request) %></td>
    <td><%= link_to 'Destroy', ride_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= submit_tag("Assemble Ride") %>

<% end %>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<%= link_to 'Create New Ride request', new_ride_request_path %>
