<p id="notice"><%= notice %></p>

<p>
  <b>Driver:</b>
  <%= @offer.driver_id %>
</p>

<p>
  <b>Rider:</b>
  <%= @offer.rider_id %>
</p>


<%= link_to 'Edit', edit_offered_ride_path(@offer) %> |
<%= link_to 'Back', offered_rides_path %>
