<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @rider.company_id %>
</p>

<p>
  <b>First name:</b>
  <%= @rider.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @rider.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @rider.phone %>
</p>

<p>
  <b>Rider State:</b>
	<%= @rider.state %>
</p>
<p>
  <b>Zip Code:</b>
  <%= @rider.zip_code %>
</p>
<p>
  <b>Email:</b>
  <%= @rider.email %>
</p>

<p>
  <b>Commuter balance cents:</b>
  <%= @rider.commuter_balance_cents %>
</p>

<p>
  <b>Commuter refill amount cents:</b>
  <%= @rider.commuter_refill_amount_cents %>
</p>

<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
<br /><br />
<%= simple_table_for @rider.rides do |t| %>
	<% t.column :origin_place_name %>
	<% t.column :destination_place_name %>
	<% t.column :state %>
<% end %>

