<%= form_for @driver, :html => { :multipart => true } do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :demo %><br />
    <%= f.select :demo, [ true, false], :include_blank => true %>
  </div>
  <h2>Driver Role</h2>
  <div class="field">
    <%= f.label "Driver State" %><br />
    <%= f.label @driver.state %><br />
    <%= f.select :driver_state_event, @driver.aasm.events, :include_blank => true %>
  </div>

	<div class="field">
		<%= f.label :drivers_license %><br />
		<%= f.file_field :drivers_license %>
		<%= image_tag @driver.drivers_license.url(:thumb) %>
	</div>

	<div class="field">
		<%= f.label :vehicle_registration %><br />
		<%= f.file_field :vehicle_registration %>
		<%= image_tag @driver.vehicle_registration.url(:thumb) %>
	</div>

	<div class="field">
		<%= f.label :proof_of_insurance %><br />
		<%= f.file_field :proof_of_insurance %>
		<%= image_tag @driver.proof_of_insurance.url(:thumb) %>
	</div>

	<div class="field">
		<%= f.label :national_database_check %><br />
		<%= f.file_field :national_database_check %>
		<%= image_tag @driver.national_database_check.url(:thumb) %>
	</div>


  <h2>Driver's Debit Card</h2>
  <h4>the following fields do not submit to database:</h4>
  <div class="field">
    <%= label_tag "Debit Card Number" %>
    <%= text_field_tag "credit_card" %>
  </div>
  <div class="field">
    <%= label_tag "Expiration Date" %>
    <%= select_month Time.now %>
    <%= select_year Time.now %>
  </div>
  <div class="field">
    <%= label_tag "CVC_code" %>
    <%= text_field_tag "cvc_code" %>
  </div>

 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
