<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @driver.company_id %>
</p>

<p>
  <b>First name:</b>
  <%= @driver.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @driver.last_name %>
</p>

<p>
  <b>Driver State:</b>
	<%= @driver.driver_role.nil? ? "not configured" : @driver.driver_role.state %>
</p>
<p>Driver's License: 
	
	<%= link_to image_tag(@driver.driver_role.drivers_license.url(:thumb)), @driver.driver_role.drivers_license.url  %>
</p>
<p>Vehicle Registration: 
	<%= link_to image_tag(@driver.driver_role.vehicle_registration.url(:thumb)), @driver.driver_role.vehicle_registration.url %>
</p>
<p>Proof of Insurance: 
	<%= link_to image_tag(@driver.driver_role.proof_of_insurance.url(:thumb)), @driver.driver_role.proof_of_insurance.url %>
</p>
<p>National Database Check: 
	<%= link_to image_tag(@driver.driver_role.national_database_check.url(:thumb)), @driver.driver_role.national_database_check.url %>
</p>

<p>
  <b>Rider State:</b>
	<%= @driver.rider_role.nil? ? "not configured" : @driver.rider_role.state %>
</p>

<p>
  <b>Total Payouts:</b>
  $<%= @driver.total_payouts.to_f / 100 %>
</p>

<p>
  <b>Total Earnings:</b>
  $<%= @driver.total_earnings.to_f / 100 %>
</p>

<%= form_tag( "/drivers/" + @driver.id.to_s + "/payout" )  do %>

  <div class="field">
    <%= label_tag "Process a Payout for this Driver" %><br />
		<%= text_field_tag :payout_amount %>
  </div>

  <div class="actions">
    <%= submit_tag("Process Payout") %>
  </div>
<% end %>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
