<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <%= @car.make %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>License plate:</b>
  <%= @car.license_plate %>
</p>

<p>
  <b>State:</b>
  <%= @car.state %>
</p>

<p>Car Photo: 
	<%= link_to image_tag(@car.car_photo.url(:thumb)), @car.car_photo.url %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
