<%= form_for(@rider_fare) do |f| %>
  <% if @rider_fare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rider_fare.errors.count, "error") %> prohibited this rider_ride from being saved:</h2>

      <ul>
      <% @rider_fare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :fare %><br />
    <%= f.text_field :fare %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
