<h1>Listing rider_rides</h1>

<table>
  <tr>
    <th>References</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rider_rides.each do |rider_ride| %>
  <tr>
    <td><%= rider_ride.references %></td>
    <td><%= rider_ride.references %></td>
    <td><%= link_to 'Show', rider_ride %></td>
    <td><%= link_to 'Edit', edit_rider_ride_path(rider_ride) %></td>
    <td><%= link_to 'Destroy', rider_ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rider ride', new_rider_ride_path %>
