<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @rider_ride.references %>
</p>

<p>
  <b>References:</b>
  <%= @rider_ride.references %>
</p>


<%= link_to 'Edit', edit_rider_ride_path(@rider_ride) %> |
<%= link_to 'Back', rider_rides_path %>
