<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rider_ride.user %>
</p>

<p>
  <b>Ride:</b>
  <%= @rider_ride.ride %>
</p>


<%= link_to 'Edit', edit_rider_ride_path(@rider_ride) %> |
<%= link_to 'Back', rider_rides_path %>
