<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Driver<br />
		<% if @ride.driver == nil  %>
			Schedule driver for this ride: 
			<%= f.collection_select :driver, User.drivers, :id, :full_name, :include_blank => true %>
		<% else %>
			<%= f.label @ride.driver.full_name %>
		<% end %>
  </div>
  <div class="field">
		Riders<br />
		<% @ride.riders.each do |r| %>
		<%= r.full_name %>
		<% end %>
	</div>
  <div class="field">
    <%= f.label :car %><br />
    <%= f.text_field :car %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
		<%= @ride.state %>
  </div>
  <div class="field">
    <%= f.label :scheduled %><br />
    <%= @ride.scheduled %>
  </div>
  <div class="field">
    <%= f.label :started %><br />
    <%= @ride.started %>
  </div>
  <div class="field">
    <%= f.label :finished %><br />
    <%= @ride.finished %>
  </div>
  <div class="field">
    <%= f.label :meeting_point_place_name %><br />
    <%= f.text_field :meeting_point_place_name %>
  </div>
  <div class="field">
    <%= f.label :destination_place_name %><br />
    <%= f.text_field :drop_off_point_place_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
