<h1>Listing rides</h1>

<table>
  <tr>
    <th>User</th>
    <th>State</th>
    <th>Type</th>
    <th>Origin</th>
    <th>Origin place name</th>
    <th>Destination</th>
    <th>Destination place name</th>
    <th>Request Created</th>
    <th></th>
    <th></th>
  </tr>

<% @rides.each do |ride| %>
  <tr>
    <td><%= ride.rider.full_name %></td>
    <td><%= ride.state %></td>
    <td><%= ride.request_type %></td>
    <td><%= ride.origin %></td>
    <td><%= ride.origin_place_name %></td>
    <td><%= ride.destination %></td>
    <td><%= ride.destination_place_name %></td>
    <td><%= ride.requested_datetime %></td>
    <td><%= link_to 'Show', ride %></td>
    <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
    <td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ride request', new_ride_path %>
