<p id="notice"><%= notice %></p>

<p>
  <b>Driver:</b>
	<%= @ride.driver != nil ? @ride.driver.full_name : '' %>
</p>

<p>
  <b>Car:</b>
	<% unless @ride.car.nil? %>
  <%= link_to @ride.car %>
	<% end %>
</p>

<p>
  <b>State:</b>
  <%= @ride.state %>
</p>

<p>
	<b>Pickup Time</b>
	<%= @ride.pickup_time %>
</p>

<p>
  <b>Processed by Scheduler At:</b>
  <%= @ride.scheduled %>
</p>

<p>
  <b>Started At:</b>
  <%= @ride.started %>
</p>

<p>
  <b>Finished At:</b>
  <%= @ride.finished %>
</p>

<p>
  <b>Meeting point:</b>
  <%= @ride.meeting_point %>
</p>

<p>
  <b>Meeting point place name:</b>
  <%= @ride.meeting_point_place_name %>
</p>

<p>
  <b>Drop Off:</b>
  <%= @ride.drop_off_point %>
</p>

<p>
  <b>Drop off place name:</b>
  <%= @ride.drop_off_point_place_name %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
