<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @ride.rider.full_name %>
</p>

<p>
  <b>Ride:</b>
  <%= @ride.route_description %>
</p>

<p>
  <b>State:</b>
  <%= @ride.state %>
</p>

<p>
  <b>Type:</b>
  <%= @ride.request_type %>
</p>

<p>
  <b>Requested datetime:</b>
  <%= @ride.requested_datetime %>
</p>

<p>
  <b>Origin:</b>
  <%= @ride.origin %>
</p>

<p>
  <b>Origin place name:</b>
  <%= @ride.origin_place_name %>
</p>

<p>
  <b>Destination:</b>
  <%= @ride.destination %>
</p>

<p>
  <b>Destination place name:</b>
  <%= @ride.destination_place_name %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
