<!DOCTYPE html>
<html>
<head>
  <title>Voco Api Panel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Map", panel_path %>
	<%= link_to "Drivers", drivers_path %>
	<%= link_to "Cars", cars_path %>
	<%= link_to "Riders", riders_path %>
	<%= link_to "Rides", rides_path %>
	<%= link_to "Payments", payments_path %>
	<%= link_to "Payouts", payouts_path %>
	<%= link_to "Commuter Ride Requests", commuter_ride_requests_path %>

<%= yield %>

</body>
</html>
