<!DOCTYPE html>
<html>
<head>
  <title>VocoApi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Map", panel_path %>
	<%= link_to "Users", users_path %>
	<%= link_to "Rides", rides_path %>

<%= yield %>

</body>
</html>
